PORT=3000
LOG_FILE_PATH=./logs/app.log

# PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/example?schema=public"

JWT_ACCESS_SECRET=kunci_rahasia
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=kunci_cadangan_rahasia
JWT_REFRESH_EXPIRES_IN=7d